.shop-newsletter {
    background: #fff;
    padding: 100px 0;
}

.shop-newsletter .inner {
    text-align: center;
}

.shop-newsletter .inner h4 {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.shop-newsletter .inner p {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.shop-newsletter .inner p span {
    color: var(--col4);
}

.shop-newsletter .newsletter-inner {
    position: relative;
    display: flex;
    justify-content: center;
}

.shop-newsletter .newsletter-inner input {
    width: 480px;
    height: 55px;
    border-radius: 0px;
    padding: 0px 30px;
    font-weight: 400;
    display: inline-block;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border: 1px solid #ececec;
    border-radius: 30px 0 0 30px;
}

.shop-newsletter .newsletter-inner button {
    border: none;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.shop-newsletter .newsletter-inner .btn {
    display: inline-block;
    height: 55px;
    padding: 10px 30px;
    position: relative;
    top: 0;
    background: var(--col4);
    color: #fff;
    left: -0.2px;
    border-radius: 0 30px 30px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.shop-newsletter .newsletter-inner .btn:hover {
    background: black;
    color: #fff;
}

/* footer */

.footer{
	background:#000000;
}
.footer .about {
	padding-right: 50px;
    margin:50px 0
}
.footer .single-footer h4 {
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.footer .about .logo{
    color: white !important;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer .about .text{
	color:#fff;
	font-weight: 400;
    font-size: 15px;
}
.footer .about .call {
	color: #fff;
	margin-top: 15px;
	font-weight: 400;
    font-size: 15px;
}
.footer .about .call span{
	display: block;
    font-size: 15px;
}
.footer .about .call a {
	color: var(--col4);
	font-size: 15px;
	font-weight: 600;
}

.footer .links{
    margin-top: 75px;
}

.footer .links ul li {
	display: block;
	margin-bottom: 8px;
    cursor: pointer;
    color:#fff;
	font-weight: 400;
    transition: 0.3s ease-in-out;
    font-size: 15px;
}
.footer .links ul li:last-child{
	margin-bottom:0;
}

.footer .links ul li:hover{
	color:var(--col4);
	padding-left:10px;
}

.footer .social{
    margin-top: 75px;
}

.footer .social .contact ul li {
	display: block;
	margin-bottom: 8px;
    cursor: pointer;
    color:#fff;
	font-weight: 400;
    transition: 0.3s ease-in-out;
    font-size: 15px;
}
.footer .contact ul li:last-child{
	margin-bottom:0;
}
.footer .social ul {
	margin-top: 20px;
}
.footer .social ul li{
	display:inline-block;
	margin-right:25px;
    color:#fff;
	display:block;
	font-size:16px;
}
.footer .social ul li:last-child{
	margin-right:0;
}

.footer .social ul .e:hover{
	color:var(--col4);
}

.footer .social ul .n:hover{
	color:var(--col4);
}


.footer .copyright .inner{
	border-top:1px solid #eeeeee3d;
	padding:35px 0 20px 0;
    width: 100%;
    font-size: 15px;
}

.footer .copyright .right{
	float:right;
}
.footer .copyright p{
	color:#fff;
}
.footer .copyright p span{
	color:#fff;
	text-decoration:underline;
    cursor: pointer;
}
